.calc395-body {
    padding: 20px;
    background: #f8f9fa;
    margin: 20px;
    border-radius: 18px;
    border: solid 2px #ededed;
}
.calc_result_body {
    margin: 20px 0;
}
.container-print {
    margin-bottom: 50px;
}
.add-pay-body p {
    margin: 0px 0 5px 0px;
    padding: 0 0 0 5px;
}
.add-pay-body {
    background: #ededed;
    padding: 10px;
    border-radius: 8px;
    margin: 0px 0 10px 0;
}
@media print {
    .hide-print {
        display: none;
    }

    .calc_result_body {
        display: block !important;
    }
}
.btn-close-css::before {
    content: " ";
}
.btn-close-css {
    position: absolute;
    top: -5px;
    right: -5px;
}
.add-pay-body div {
    position: relative;
}